/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

:root {
    --primary-color: #0A1128;
    --color-white: #fff;
    --color-light-gray: #eee;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url("../img/main-bg.svg");
    background-size: cover;
    background-position: center center;
    color: var(--color-white);
}

.white-bg {
    background: var(--color-white);
    color: var(--primary-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.intro-section {
    display: flex;
}

.menu {
    background: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid var(--color-light-gray);
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.menu ul li+li {
    border-left: 1px solid var(--color-light-gray);
}

.menu ul li:hover {
    background: var(--color-light-gray);
}